<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<title>about</title>
	<link rel="stylesheet" href="../static/css/aaauthors.css">
</head>
<body>
	<nav class="navbar">
		<ul class="links">
			<a href={{url_for('index')}}>Home</a>
			<a href={{url_for('about')}}>About/Works Cited</a>
		</ul>
	</nav>
	<h3 class="title">African American Authors</h3>
	<div class="wrapper">
		<div class="works">
			<h5 class="works"> notable works here
		</div>
		<div class="para">
			<h5 class="para"></h5>
		</div>
		<div class="img">
			<div class="img-crop">
				<img src="../static/assets/wheatley-statue.jpg">
			</div>
			<h6 class="caption">Statue of Phillis Wheatley</h6>
			<div class="img-crop">
				<img src="../static/assets/Harriet-Jacobs.jpg">
			</div>
			<h6 class="caption">Picture of Harries Jacobs</h6>
		</div>
	</div> 
</body>
</html>
