<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<title>about</title>
	<link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
	<nav class="navbar">
		<ul class="links">
			<a href={{url_for('index')}}>Home</a>
			<a href={{url_for('about')}}>About/Works Cited</a>
		</ul>
	</nav>
	<h2 class="overview">Works Cited</h3>
	<h3 class="overview">works cited list goes here</h3>
	<div class="about">
		<h3 class="about">About</h3>
		<h5 class="about">
			This website was made for Dr. Ashton's Fall 2022 ENGL 2140-08 class by John Grant December 13, 2022 for the "Unessay" assignment
		</h5>
	</div>
</html>