<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<title>Works Cited</title>
	<link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
	<nav class="navbar">
		<ul class="links">
			<a href={{url_for('index')}}>Home</a>
			<a href={{url_for('about')}}>Works Cited</a>
		</ul>
	</nav>
	<h1 class="title">Works Cited</h3>
	<p class="biblio">Rowlandson, Mary. "The Sovereignty and Goodness of God, together with the Faithfulness of His Promises Displayed; Being a Narrative of the Captivity and Restoration of Mrs. Mary Rowlandson." The Broadview Anthology of American Literature, Edited by Derrick Spires, et al., Broadview 2022,  Volume A.,  E-book. pp. 285-312.
		<br><br>Wheatley, Phillis. "Poems on Various Subjects, Religous and Moral" The Broadview Anthology of American Literature, Edited by Derrick Spires, et al., Broadview 2022, Volume A., E-book. pp. 718-732</p>
	<div class="about">
		<br>
		<p class="para">
			John Grant
			<br>Dr. Ashton
			<br>ENGL-2140
			<br>16 October 2022
		</p>
	</div>
</html>