<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<title>Comparison</title>
	<link rel="stylesheet" href="../static/css/comparison.css">
</head>
<body>
	<nav class="navbar">
		<ul class="links">
			<a href={{url_for('index')}}>Home</a>
			<a href={{url_for('about')}}>About/Works Cited</a>
		</ul>
	</nav>
	<h3 class="title">Comparison</h3>
	<div class="wrapper">
		<div class="para">
			<h1 class="title">How do a Puritan and Slave relate?</h1>
		</div>
	</div> 
</body>
</html>